[project]
name = "aoc"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "advent-of-code-data>=2.1.0",
    "browser-cookie3>=0.20.1",
    "python-dotenv>=1.2.1",
    "typer>=0.20.0",
]
